<!DOCTYPE html>
<html>
<head>
<title>Nota Spese</title>
<script src="/static/app.js"></script>
</head>
<body>

<h1 style="text-align:center;">Nota Spese</h1>
<p style="text-align:center; color:gray;">
Creato ed ideato da <b>Matteo Greco</b>
</p>

<hr>

<h3>Scatta scontrino</h3>
<input type="file" accept="image/*" onchange="uploadOCR(this)">

<br><br>

<label>Importo:</label>
<input id="importo">

<br><br>

<label>Data:</label>
<input id="data">

<br><br>

<button onclick="genera()">Genera Excel</button>

</body>
</html>